body{
    background-color: skyblue;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.QPanel{
    border: solid 2px red;
    padding: 5px;
    margin: 5px;
}